/* Notifications.css */
.menuItem {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .notificationDrawer {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .closeButton {
    border: none;
    background: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  