/* modules/header/header.css */
#logo {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/holberton-logo.jpg');
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    text-align: center;
  }
  